{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Bookmarks{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
      body {
        }
    </style>
  </head>

  <body>

    <div class="container">

      <h2>{{ request.user }}</h2>

      {% if not request.user.is_authenticated %}
      /  <a href="{% url 'user_create_view' %}">Create User</a>/
        <a href="{% url 'login' %}">login</a>/
      {% else %}
        /<a href="{% url 'logout' %}?next={% url 'login' %}">logout</a>/
        <a href="{% url 'user_create_view' %}">Create User</a>/
      {% endif %}

      <a href="{% url 'user_list_view' %}">Other Users</a>


      {% block content %}
      {% endblock %}

    </div>

  </body>
</html>
